<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
<style>
    body{
        margin: 0px;
        padding: 0px;
    }
h1{
    text-transform: uppercase;
    text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th{
    background-color: rgb(204, 204, 202);
}
nav{
    background-color: rgb(160, 175, 250);
    width: 98%;
    height: 40px;
    display: flex;
    text-align: center;
    padding: 10px;
    margin: 0;
    text-transform: uppercase;
    justify-content: space-between;
    border: 5px black solid;
}
button{
    height: 30px;
    width: 60px;
    margin-left: 93%;
}
.box{
    height: fit-content;
    width: fit-content;
    background-color: solid rgba(196, 255, 211, 0.6);
    border: 3px solid black;
    margin-left: 93%;
}
</style>
           
</head>
<nav>
    <a href="/passwordCategory">home</a>
    <a href="/addNewCategory">add new category</a>
    <a href="/addNewPassword">add new password</a>
    <a href="/viewAllCategory">view-all-category</a>
    <a href="/viewAllPassword">password-details</a>
</nav><div class="box">  candidate name</div><button>
<a href="/logout">logout</a></button>
    <h1>password category</h1>
    <table>
        <thead>
            <tr>
                <th>password category name</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>godaddy</th>
            </tr>
        </tbody>
    </table>
</body>
</html>